.vscode/
.cache/
build/
research/
__pycache__/
*.pio.h
hidtaiko src/
debug/debug.rar
dist
scripts/key.pem
scripts/serial.txt
scripts/sig.bin
lib/mbedtls
lib/tinyusb

scripts/
!scripts/generateAuthConfig.py
!scripts/generateBitmap.py